.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
inst/doc
/doc/
/Meta/
dev/thesis-chapter.aux
dev/thesis-chapter.docx
dev/thesis-chapter.fdb_latexmk
dev/thesis-chapter.fls
dev/thesis-chapter.pdf
dev/thesis-chapter.tex
dev/thesis-chapter_files/
.positai
